<div ng-init="getRun()">
<!-- 	<ul ng-repeat="item in items">
		<li>{{ item.display_phone }}</li>
	</ul> -->
	<div class="pull-left half">
		<p class="lead">Start Location</p>
		<p>{{run.start}}</p>
		<br>
		<br>
		<p class="lead">Brunch</p>
		<p><strong>{{run.brunches}}</strong></p>
		<p>San Francisco, CA</p>
	</div>
	<div class="pull-left left-aligned half">
		<p class="lead">Estimated Time</p>
		<p>{{map.directionsRenderers[0].directions.routes[0].legs[0].duration.text}}</p>
		<br>
		<br>
		<p class="lead" distance>Distance</p>
		<p>{{map.directionsRenderers[0].directions.routes[0].legs[0].distance.text}}</p>
	</div>
</div>

<div class="clearfix"></div>

<!-- <div ng-init="callMap">
	<ui-gmap-google-map center='map.center' zoom='map.zoom'>
		<ui-gmap-polyline ng-repeat="p in polylines" path="p.path" stroke="p.stroke" visible='p.visible'
	geodesic='p.geodesic' fit="false" editable="p.editable" draggable="p.draggable" icons='p.icons'>
		</ui-gmap-polyline>
		<ui-gmap-marker coords="marker.coords" title="marker.title" options="marker.options" events="marker.events" idkey="marker.id">
	<ui-gmap-window options="windowOptions" closeClick="closeClick()">
		<div>

			<strong>{{title}}</strong>
			<br>
			<br>
			Phone: {{phone}}
			<br>
			<br>
			<img src={{image}} />
			<br>
			<br>
			Rating: <img src={{rating}} />
			<br>
			<br>
			<a href={{url}}>Link</a>
		</div>
	</ui-gmap-window>
	</ui-gmap-marker>
	</ui-gmap-google-map>

</div> -->

<div ng-mousemove="mapUpdate()" map-lazy-load="https://maps.google.com/maps/api/js"
map-lazy-load-params="{{googleMapsUrl}}">
	<ng-map zoom="14" center="San Francisco, CA" zoom="3">
		<directions
          draggable="true"
          panel="directions-panel"
          travel-mode="WALKING"
          origin="3798 Fillmore St, San Francisco, CA"
          destination="2479 Francisco St, San Francisco, CA">
        </directions>

	</ng-map>
</div>
<br>
<br>
<div class="pull-left">
	<p class="lead">You should leave by:</p>
	<p>8:45 AM</p>
</div>
<br>
<a class="btn btn-default pull-right" href="#">Invite Friends</a>