<div ng-init="getRunnerRuns()">
	<div class="row">
		<div class="col-md-12 text-center">
			<h3>Run & Brunch Dashboard</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">

			<div class="circle">
				<img src="/img/ME!.png">
			</div>
			<br>
			<strong>Name</strong> Joe
			<br>
			<br>
			<strong>Number of Runs attended</strong> 24
			<br>
			<br>
			<strong>Funds Raised</strong> $300
		</div>
		<div class="col-md-4">
			<h4>Upcoming Runs</h4>
			<ul class="list-group" ng-repeat="run in runner_runs">
				<li class="list-group-item"><a href="#/runs/details/{{run._id}}"> {{run.name}}</a> | {{run.hood}} | {{run.distance}} | {{run.brunches}}</li>
			</ul>
		</div>
		<div class="col-md-5">
			<h4>Completed Runs</h4>
			<ul class="list-group" ng-repeat="run in runner_runs">
				<li class="list-group-item"><a href="#/runs/details/{{run._id}}"> {{run.name}}</a> | {{run.hood}} | {{run.distance}} | {{run.brunches}}</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h3>Achievements</h3>
			<p><img src="/img/sunbrun.jpg" class="achieve-img"> | <img src="/img/most_brunch.jpg" class="achieve-img"> | <img src="/img/smart_brunch.jpg" class="achieve-img"></p>
		</div>
	</div>
</div>