<div ng-init="getRunner()">
	<img class="pull-right img-small" src="{{runner.photo_url}}">
	<div class="clearfix"></div>
	<h2 class="sub-header">{{runner.first_name}}  {{runner.last_name}}</h2>
	<ul class="list-group">
		<li class="list-group-item"><strong>Email: </strong> {{customer.email}}</li>
		<li class="list-group-item"><strong>Photo: </strong> {{customer.photo_url}}</li>
		<li class="list-group-item"><strong>Neighborhood: </strong> {{customer.neighborhood}}</li>
	</ul>
	<br/>
	<!-- <h3>Customer Runs</h3>
	<table class="table table-striped" ng-init="getCustomerInvoices()">
		<thead>
			<tr>
				<th>#</th>
				<th>Service</th>
				<th>Price</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="invoice in customer_invoices">


				<td>{{invoice._id}}</td>
				<td>{{invoice.service}}</td>
				<td>{{invoice.price}}</td>
				<td>{{invoice.status}}</td>
				<td><a href="#/invoices/details/{{invoice._id}}" class="btn btn-primary">Details</a><a href="#/invoices/edit/{{invoice._id}}" class="btn btn-default">Edit</a><a ng-click="deleteInvoice(invoice._id)" class="btn btn-danger">Delete</a></td>
			</tr>
		</tbody>
	</table> -->
</div>