<h2 class="sub-header">Runs</h2>
<div class="table-responsive" ng-init="getRuns()">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Host</th>
				<th>Name</th>
				<th>Hood</th>
				<th>Distance</th>
				<th>Brunch</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="run in runs">
				<td>{{run.runner.first_name}} {{run.runner.last_name}}</td>
				<td><a href="#/runs/details/{{run._id}}">{{run.name}}</a></td>
				<td>{{run.hood}}</td>
				<td>{{run.distance}}</td>
				<td>{{run.brunches}}</td>
				<!-- associate a run and an invoice somehow via ng-click -->
				<td><a href="#/dashboard" class="btn btn-primary">Join</a></td>
			</tr>
		</tbody>
	</table>
</div>
</div>